{% extends 'base.html' %}
{% block title %} Create a user {% endblock %}
{% block content %}
<form action="/users/new" method="POST">
  <div>
    <label for="first_name" >First Name:</label>
    <input id="first_name" name="first_name">
  </div>
  <p>Last Name:  <input name="last_name"></p>
  <p>Image URL:   <input name="image_url"></p>
  <button type="submit" class="btn btn-primary mt-3" >Add</button>
</form>
{% endblock %}
<!--Add label for each input-->
<!--TODO:SEXYLICIOUSIFY-->