{% extends 'base.html' %}
{% block title %} Edit User Information {% endblock %}
{% block content %}
<form action="/users/{{ user.id }}/edit" method="POST">
  <p>First Name: <input value="{{ user.first_name }}" name="first_name"></p>
  <p>Last Name:  <input value="{{ user.last_name }}" name="last_name"></p>
  <p>Image URL:  <input value="{{ user.image_url }}" name="image_url"></p>

  <a href="/users/{{ user.id }}" class="btn btn-primary mt-3">Cancel</a>
  <button class="btn btn-primary mt-3" type="submit" >Save</button>
</form>
{% endblock %}

