{% extends 'base.html' %}
{% block title %} {{ user.first_name }}  {{user.last_name}} {% endblock %}
{% block content %}
<div>
  <h1>{{ user.first_name }}  {{user.last_name}}</h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class = "alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <img src="{{ user.image_url }}" width="100" height="200">
  <form>
    <button formaction="/users/{{ user.id }}/edit" formmethod="GET" type="submit" class="btn btn-primary mt-3">Edit</button>
    <button formaction="/users/{{ user.id }}/delete" formmethod="POST" class="btn btn-primary mt-3">Delete</button>
  </form>
</div>
<div>
  <h2>Posts</h2>
  <ul>
    {% for post in user.posts %}
      <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <form>
    <button formaction="/users/{{ user.id }}/posts/new" formmethod="GET" class="btn btn-primary mt-3">Add Post</button>
</div>
{% endblock %}
